







.container{


    padding-top: 50px;

    padding-bottom: 50px;

}


.response-success-msg{


    font-size: 20px;

    color: green;
    position:relative;

    top: 50px;

}

.response-err-msg{


    font-size: 20px;

    color: red;

    position:relative;

    top: 50px;

}