


<div class="home">

    
    <div class="home-flex mt-5">

        
        <div class="card" style="width: 18rem;">
            <img src="https://cdn2.bigcommerce.com/server500/cd6a7/product_images/uploaded_images/company-name-logo-on-business-card.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title">Companies</h5>
              <br>
              <a routerLink="/companies" class="btn btn-primary">Go To Companies</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="https://www.oceanaccounts.org/content/images/size/w960/2025/08/GOAP-web-header.jpeg" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title">Impacts</h5>
              <br>
              <a routerLink="/impacts" class="btn btn-primary">Go To Impacts</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="https://geology.com/world/world-physical-map.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title">Countries</h5>
             <br>
              <a routerLink="/countries" class="btn btn-primary">Go To Countries</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRo9ZMzEIOwklMVioIiJBYnUZ9VVh0uwcHpDA&s" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title">Projects</h5>
              <br>
              <a routerLink="/projects" class="btn btn-primary" >Go To Projects</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="https://www.shutterstock.com/image-photo/smart-logistics-global-business-concept-260nw-2498678197.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title">Partners</h5>
              <br>
              <a routerLink="/partners" class="btn btn-primary">Go To Partners</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIQz7HBKMqEoUV9xDF4MNrF2X2QCtz0Hn6Vw&s" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title">Themes</h5>
              <br>
              <a routerLink="/themes" class="btn btn-primary">Go To Themes</a>
            </div>
          </div>


    </div>

    <br>
    <br>
    <br>

</div>